body{
    font-family: 'Hind Madurai', sans-serif;
}



.jumbotron{
    
    border :2px solid crimson;
    background-size: cover;
    background-image: url("images/Wabash_City_of_St._Louis.jpeg");
    height: 370px;
}

.display-4{
    color: rgb(237, 245, 247);
    background-color: rgba(47, 79, 79, 0.57);
    font-size: 80px;
    text-align: center;
}

.lead{
    color: rgb(237, 245, 247);
    background-color: rgba(47, 79, 79, 0.57);
    font-size: 40px;
    text-align: center;

}

h5{
    color:  #f11a0b;
    background-color: rgba(153, 231, 231, 0.728);
    width:420px;
    font-size: 22px;
    margin: auto;
    text-align: center;

}



.card-header {
    font-size: 18px;
    color:black;
    background-color:#f3a485 ;
    border: 1px solid #f11a0b;
}

.fa{
    padding: 5px;
}

#scheduleBroad, #addTrainBroad{
    border: 1px solid #f11a0b;
}

thead{
    background-color: rgb(240, 180, 159);
}



#submitInput {
    background-color: #eb6b38 ;
    color: black;
}

#submitInput:hover{
    background-color: rgb(29, 215, 29);
}



